.messages-container {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(min-content, 80%);
  align-content: end;
  justify-items: start;

  overflow-y: auto;
  height: 100%;

  border: 1px dashed black;
  padding: 5px;
}

.messages-item {
  padding: 5px 10px;
  background: darkseagreen;
  border-radius: 10px;
  word-break: break-word;
}
